<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restart.dao.BusinessDao">

    <resultMap id="BusinessResult" type="Business">
        <id column="id" property="id" />
        <result column="img_file_name" property="imgFileName"/>
        <result column="title" property="title" />
        <result column="subtitle" property="subtitle" />
        <result column="price" property="price" />
        <result column="distance" property="distance" />
        <result column="number" property="number" />
        <result column="desc" property="desc" />
        <result column="city" property="city" />
        <result column="category" property="category" />
        <result column="star_total_num" property="starTotalNum" />
        <result column="comment_total_num" property="commentTotalNum" />
        <association property="cityDic" javaType="Dic">
            <result column="city_name"  property="name"/>
        </association>
        <association property="categoryDic" javaType="Dic">
            <result column="category_name" property="name"/>
        </association>

    </resultMap>
    <sql id="baseColumn">
        id
        ,img_file_name
        ,title
        ,subtitle
        ,price
        ,distance
        ,number
        ,desc
        ,city
        ,category
        ,star_total_num
        ,comment_total_num
    </sql>

    <sql id="baseColumnAlias">
        ${alias}.id
        ,${alias}.img_file_name
        ,${alias}.title
        ,${alias}.subtitle
        ,${alias}.price
        ,${alias}.distance
        ,${alias}.number
        ,${alias}.`desc`
        ,${alias}.city
        ,${alias}.category
        ,${alias}.star_total_num
        ,${alias}.comment_total_num
    </sql>
    <sql id="insertColumn">
         #{ id }
        ,#{ imgFileName }
        ,#{ title }
        ,#{ subtitle }
        ,#{ price }
        ,#{ distance }
        ,#{ number }
        ,#{ desc }
        ,#{ city }
        ,#{ category }
        ,#{ starTotalNum }
        ,#{ commentTotalNum }
    </sql>

    <insert id="insertEx">
        insert business (<include refid="baseColumn"/> )values (<include refid="insertColumn" /> )
    </insert>

    <sql id="queryColumn">
        <if test="title != null and title != '' and subtitle != null and subtitle != '' and desc != null and desc != '' ">
            and (title like '%' #{title} '%' or subtitle like '%' #{subtitle} '%' or `desc` like '%' #{desc} '%')
        </if>
        <if test="city != null">
            and   bs.city = #{city}
        </if>
        <if test="category != null">
            and   bs.category = #{category}
        </if>
        <if test="price != null">
            and   bs.price = #{price}
        </if>
    </sql>

    <select id="selectById" resultType="Business">
        select <include refid="baseColumn"/> from business where id = #{_parameter}
    </select>
    <select id="selectBusinessByPage" resultMap="BusinessResult">
        select <include refid="baseColumnAlias"><property name="alias" value="bs" /></include>
        ,dcity.name city_name, dcategory.name category_name
        from
        business bs left join dic dcity on bs.city = dcity.code and dcity.type = '${@com.restart.constant.DicTypeConst@CITY}'
        left join dic dcategory on bs.category = dcategory.code and dcategory.type = '${@com.restart.constant.DicTypeConst@CATEGORY}'
        <where>
            <include refid="queryColumn"/>
        </where>
        order by bs.id
    </select>


    <select id="staticsBusinessNumber" resultType="Business">
        SELECT
            sum(ot.num) number,
            ot.business_id id
        FROM
            orders ot
        WHERE
            ot.create_time > DATE_FORMAT(
                date_sub(curdate(), INTERVAL 1 DAY),
                '%Y-%m-%d'
            )
        GROUP BY
            ot.business_id
    </select>
    <!---->
    <!--<sql id="">-->
        <!---->
    <!--</sql>-->
    <!--<update id="updateBusiness">-->
        <!--UPDATE business -->
        <!--<set>-->
            <!---->
        <!--</set>-->
    <!--</update>-->
</mapper>