<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restart.dao.OrdersDao">
    <sql id="baseColumn">
        id
        ,business_id
        ,member_id
        ,num
        ,comment_state
        ,price
    </sql>

    <sql id="insertColumn">
        #{id},
        #{businessId},
        #{memberId},
        #{num},
        #{commentState},
        #{price}
    </sql>
    <insert id="insertOrder">
        insert into orders(<include refid="baseColumn" />) values (<include refid="insertColumn" />)
    </insert>
</mapper>